#logo {
    color:white;
    padding: 0 30px;
}

.navbar {
    background-color: dodgerblue;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    color: white;
}

.nav-item a {
    color: white;
    all: unset;
    cursor: pointer;
}