.catalog {

}

.catalogContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%
}

.bookItemCard {
    margin: 8px;
    height: 360px;
    width: calc(25% - 20px);
    min-width: 200px;
    border: 2px solid;
    position: relative;
}

.bookItemCard > img {
    max-height: 170px;
}

@media screen and (max-width: 1024px) and (min-width: 671px) {
    .bookItemCard {
        width: calc(33.33% - 20px);
    }
}

@media screen and (max-width: 670px) and (min-width: 481px) {
    .bookItemCard {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .bookItemCard {
        width: 100%;
    }
}