#catalog {
    padding: 50px 0;
    margin: 0 auto;
    max-width: 1200px;
}

#catalogContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%
}

.bookItemCard {
    margin: 8px;
    width: calc(25% - 16px);
    min-width: 200px;
    position: relative;
}

.bookItemCard a {
    text-decoration: none;
}

.card-img-top {
    width: 100%;
    height: 330px;
}

.author{
  font-size: 0.875rem;
  font-style: italic;
  color: darkgrey;
}
.card-img-fit {
    display: block;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

@media screen and (max-width: 1024px) and (min-width: 671px) {
    .bookItemCard {
        width: calc(33.33% - 20px);
    }
}

@media screen and (max-width: 670px) and (min-width: 481px) {
    .bookItemCard {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .bookItemCard {
        width: 100%;
    }
}

#carouselExampleAutoplaying {
    height: 500px;
    width: 600px;

}

.imageDetail {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.imageDetailCrop {
    display: block;
    height: 500px;
    width: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.modal-body {
    max-height: 600px;
    overflow-y: auto;
}

.option-container {
    width: 100%;
}

.option-container label {
    width: 100%;
    height: 130px;
}

.itemTiny {
    display: flex;
    align-items: center;
    height: 100%;
}

.imageContainer {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.textContainer {
    text-align: left;
}

.itemTinyImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#newBookBadge {
    position: fixed;
    width: 220px;
    height: 250px;
    bottom: -190px;
    left: 20px;
    z-index: 1000;
    transition: bottom 0.3s ease-in-out;
}

#newBookBadge:hover {
    bottom: -120px;
}
#content-section > section > div > div > div:nth-child(2) > div:nth-child(4) > span{
    border-radius: 25px;

}
#content-section > section > div > div > div:nth-child(2) > div:nth-child(4) > span:nth-child(1){
margin-left: 0 !important;
}
.card{
    height: 480px;
}

#catalogSearch, #catalogSort, #catalogStatusFilter {
    border-color: rgba(0, 0, 0, 0.175);
}

#catalogConfigs {
    margin: 16px 8px;
}