.full-profile{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.profile-container, .change-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 20px;
    border-right: 1px solid darkgray;
}
.my-books{
    width: 50%;
    height: 800px;
    overflow-y: scroll;
    padding: 40px;
}
.my-books h1{
    font-size: 30px;
    text-align: center;
}
.change-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.profile-form {
    margin-bottom: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.catalogContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%
}

.profile-form > .profile-input-group > label, .profile-form > .profile-input-group > input {
    width: 50%;
    text-align: left;
}

.profile-form > .profile-input-group > input {
    overflow: visible;
    white-space: nowrap;
}

.map-container {
    height: 200px;
    margin-bottom: 20px;
}

.map-container #profile-mapid {
    height: 100%;
    width: 100%;
}

.error-message {
    color: #ff0000;
    margin-top: 10px;
}

.loading {
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
}

#profile-image {
    width: 120px;
    height: 120px;
    margin-right: 10px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.form-control, #cur-password, #new-password {
    border-radius: 25px;
}

#cur-password, #new-password {
    max-width: 300px;
}

.form-control:read-only {
    border: 0;
}

.profile-first-name:focus, .profile-last-name:focus,
.profile-age:focus, .profile-mail:focus, .profile-phone-number:focus,
#cur-password:focus, #new-password:focus {
    border-color: #6b73ff;
    box-shadow: 0 0 5px rgba(107, 115, 255, 0.5);
}

.profile-first-name:read-only:focus, .profile-last-name:read-only:focus,
.profile-age:read-only:focus, .profile-mail:read-only:focus, .profile-phone-number:read-only:focus {
    box-shadow: 0 0 0 0;
}

.edit-button, .cancel-button, .save-button, .change-button, #image-delete, .user-delete {
    margin-top: 10px;
    background: linear-gradient(135deg, dodgerblue, dodgerblue);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cancel-button, #image-delete, .user-delete {
    background: linear-gradient(135deg, #f44336, #f44336);
    margin-right: 10px;
}

.edit-button:hover, .save-button:hover, .cancel-button:hover. .change-button:hover, #image-delete:hover. .user-delete:hover {
    background: linear-gradient(135deg, dodgerblue, dodgerblue);
    transform: scale(1.05);
}

.cancel-button:hover, #image-delete:hover, .user-delete:hover {
    background: linear-gradient(135deg, #f44336, #f44336);
}

.edit-button:active, .save-button:active, .cancel-button:active, .change-button:active, #image-delete:active,
.user-delete:active{
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.edit-button:focus, .save-button:focus, .cancel-button:focus, .change-button:focus, #image-delete:focus,
.user-delete:focus{
    outline: none;
    box-shadow: 0 0 0 3px dodgerblue;
}

.edit-button, .save-button, .cancel-button {
    margin-top: 20px;
}

.password-reset-link, .profile-button-container {
    width: 40%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.cancel-button:focus {
    box-shadow: 0 0 0 3px #f44336;
}
.user-delete{
   margin-right: 0;
}

.profile-input-group, .signup-input-group {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 5px;
}

.input-group label {
    margin-right: 10px;
    width: 50%
}

.profile-input-group > #image-delete {
    font-size: 12px;
    max-height: 44px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.my-books::-webkit-scrollbar{
    width: 12px;
}

.my-books::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 10px;
}

.my-books::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 10px;
}

.my-books::-webkit-scrollbar-thumb:hover{
    background: #555;
}
.error{
    font-size: 14px;
    color: red;
    font-weight:normal;
    width: 50%;
    margin-left: auto;
    text-align: center;
}