#addBook {
    max-width: 1200px;
    margin: 25px auto;
    padding-left: 10px;
    padding-right: 10px;
}

.no-resize {
    resize: none;
}

.image-crop {
    margin: 10px;
    position: relative;
    display: inline-block;
}

.image-preview {
    display: block;
    width: 200px;
    height: 200px;
    border: 2px solid #0f0f0f;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}

.delete-button {
    position: absolute;
    top: -10px;
    right: 0;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.no-resize {
    resize: none;
}

.d-none {
    display: none;
}

.uploadButton {
    margin-left: 20px;
    border-radius: 20px;
}
#isbn, #title, #author, #genre, #language, #pages, #year, #description, #status{
    border-radius: 25px;
}
#addBook > form > div.book-details.mb-4 > div > div.mb-4.col-md-6 > button{
    border-radius: 25px;
}
.delete-book-button{
    margin-top: 5px;
    background: linear-gradient(135deg, #f44336, #f44336);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.delete-book-button:hover {
    background: linear-gradient(135deg, #f44336, #f44336);
    transform: scale(1.05);
}

.delete-book-button:active{
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.delete-book-button:focus{
    outline: none;
    box-shadow: 0 0 0 3px #f44336;
}
